---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  bugprone-*,
  cert-*,
  google-*,
  llvm-*,
  -modernize-use-trailing-return-type,
  -google-readability-todo,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  readability-identifier-length.MinimumVariableNameLength: 2
  readability-identifier-length.MinimumParameterNameLength: 2